{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
],
  "rules": {
    "react/jsx-filename-extension" : "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/jsx-one-expression-per-line": "off"
  }
}
